{% extends "base.html" %}
{% block title %}WebRTC sample broadcaster{% endblock %}
{% block home_title %}WebRTC sample broadcaster{% endblock %}
{% block video %}
<div class="row-fluid">
  <div style="position: relative;" class="span12">
    <span id="locallive" class="live hide">LIVE</span>
    <video width="100%" height="100%" id="localVideo" autoplay="autoplay" style="opacity: 0;
      -webkit-transition-property: opacity;
      -webkit-transition-duration: 2s;">
    </video>
  </div>
</div>
{% endblock %}